@*
    *Main page for transfer
    Remember to declare model used
*@

@model PFD_Challenge_1.Models.FundTransferVM

@section css{
    @*Add specific css script here*@
    <link rel="stylesheet" href="~/css/futuretransfer.css" />
}
<div class="container" id="mainContainer2">
    <div class="first-container">
        <div style="text-align: center; margin-top:5%;">
            <img id="imgLogo" src="~/images/FundTransfer.png"
                 style="width: 40%" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="container">
                <form>
                    <div class="form-group" style="color: #BA2B43; margin-top: 5%; margin-bottom: 5%;">
                        <h2>Greetings, @ViewData["User"]</h2>
                    </div>
                    <div class="form-group" style="color: black; font-family: 'Rampart One', cursive; margin-bottom: 0% ">
                        <h4><label for="balance">What you have (SGD)</label></h4>
                    </div>
                    <div class="form-group" style="color: #2D4263;">
                        <div class="input" style="padding-top: 10px; padding-bottom: 10px; padding-right: 140px; padding-left: 140px; display: inline-block; color: black; border-color: white; ">@Html.DisplayFor(model => model.account.Balance)</div>
                    </div>
                    <div class="form-group" style="color: black; font-family: 'Rampart One', cursive; margin-bottom: 0% ">
                        <h4><label for="activity">Your activity</label></h4>
                    </div>
                    <div class="form-group" style="color: #2D4263;">
                        <div class="input" style="padding-top: 10px; padding-bottom: 10px; padding-right: 20px; padding-left: 20px; display: inline-block; color: black; border-color: white; ">
                            @{ if (Model.transactions.Amount == 0)
                                {
                                    <div>No transactions</div>
                                }
                                else
                                {
                                    <div><span>@Html.DisplayFor(model => model.transactions.TimeTransfer)</span>   Transfer: $<span>@Html.DisplayFor(model => model.transactions.Amount)</span></div>
                                }

                            }
                        </div>
                    </div>
                </form>
            </div>
            <!-- Login Button -->
            <div class="every" style="padding-right:50px;padding-left:50px; display: inline-block;">
                <div class="btn">@Html.ActionLink("Make a Transfer", "FundTransferReview", "FundTransfer")</div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @*Add JavaScripts specifically for this view here*@
    <script src="~/js/futuretransfer.js"></script>
}


